PORT=5001
MONGO_URI=mongodb://shreesrini09_db_user:strongpassword@ac-ykav96z-shard-00-00.vebiayf.mongodb.net:27017,ac-ykav96z-shard-00-01.vebiayf.mongodb.net:27017,ac-ykav96z-shard-00-02.vebiayf.mongodb.net:27017/canteen?ssl=true&replicaSet=atlas-m9vxiu-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret_min_32_chars
STAFF_CODE=replace_with_a_secret_staff_registration_code
CORS_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5001